body {
    background-color: rgba(116, 116, 158, 0.171);
}

h1 {
    font-size: 2.5em;
    text-align: center;
    color:rgb(8, 8, 92);
}

#yarnWeight {
    width: 50%;
    margin: auto;
    color: rgb(15, 102, 48);
}

#surveyQuestion {
    width: 50%;
    margin: auto;
    font-size: 1.25em;
    color:rgb(8, 8, 92);
}
h3 {
    font-size: 1.25em;
}
li {
    font-size: 1.25em;
}
.pinkYarn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    }